extends layout

block content
  md-toolbar(layout='row' layout-align='center')
    .md-toolbar-tools
      a(ui-sref='home', ui-sref-active='active')
        h3.md-display-3(layout='column') YourPolls
      span(flex)
      a(ui-sref='login', ng-if='!AppCtrl.isLoggedIn()', ui-sref-active='active')
        h3.md-display-3(layout='column') Login
      a(ui-sref='signup', ng-if='!AppCtrl.isLoggedIn()', ui-sref-active='active')
        h3.md-display-3(layout='column') Sign up
      .md-title(layout='column', ng-if='AppCtrl.isLoggedIn()', ng-bind='AppCtrl.activeUser')
      a(ui-sref='logout', ng-if='AppCtrl.isLoggedIn()')
        h3.md-display-3(layout='column') Logout
  toaster-container(toaster-options="{'time-out': 1500, 'close-button':true, 'animation-class': 'toast-top-center'}")
  ui-view(layout='row', flex, layout-align='center center')
