/** {
  border: 1px solid red;
}*/

a {
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid white;
  border-color: transparent;
}

.active {
  border-bottom-color: white;
}

a:hover {
  border-bottom-color: white;
}
